<ion-content class="__bgImage" [fullscreen]="true">
  <div class="__wrapBox">
    <div class="__headerBox">
      <div class="__headerTextBox">
        <h1 class="__fontBloodthirt __animationBlink">Skreepy</h1>
        <div class="__line"></div>
        <p class="__fontBaskervilleRegular">Berani membaca cerita horor disini? langsung masuk saja. </p>
      </div>
    </div>
    <div class="__footerBox">
      <div class="footerBtnBox">
        <ion-button (click)="loginGoogle()" color="danger" expand="block" mode="ios" size="large">
          <ion-icon slot="start" name="logo-google"></ion-icon> Login dengan google
        </ion-button>
        <p><b>Peringatan:</b> Hati-hati ada jump scare</p>
      </div>
    </div>
  </div>
</ion-content>